body {
  background-color: purple;
  transition: 0.3s;
  width: 100%;
  max-width: 980px;
  min-height: 300px;
  color: green;
}
.main-container {
  background-color: blue;
  display: flex;
  justify-content: center;
}
